<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Bug<b>Tracker</b></h2></h2> </div>
                <div class="col-sm-4">
                    <a href="/addUser">
                    <button type="button" class="btn btn-info add-new" onclick="" ><i class="fa fa-plus">Add New</i></button>
                </a>
                </div> 

            </div>

        </div>
        <table class="table table-borded" id="userGrid">
            <thead>
                <tr>
                    <td>Tittle</td>
                    <td>Description</td>
                    <td>Asignee</td>
                    <td>Status</td>
                    <td>No Of Days to Solve</td>
                    <td>Actions</td>

                </tr>
            </thead>
        </table>
    </div>

</div>